.nav {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 87.44%;
  bottom: 0%;
  height: 80px;
  background-image: url(/src/assets/svg/Rectangle.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 10px;
  display: flex;
  justify-content: center;
}
.nav-icons {
  width: 100%;
}
.explore {
  background-color: #3e2ad1;
  height: 62px;
  width: 62px;
  border-radius: 50%;
  display: flex;
justify-content: center;
align-items: center;

    transform: translateY(-9px);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.active{;color:#3E2AD1;}
.nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.nav-menu li {
  cursor: pointer;
}
.nav-icons {
  position: absolute;
  bottom: 7px;
}
.react-icons {
  color: #fff;
}
.nav-container {
  background: linear-gradient(
    180deg,
    rgba(244, 249, 255, 0.0001) 0%,
    #f4f9ff 26.23%
  );
}
